:root {
    --main-text-color: #FC9E4F;
    --header-background-color: #F5F4F5;
    --main-background-color: #f5f4f5;
    --accent-color: #68B8CA;

    --img-radius: 15px;
    --main-img-height: 400px;
    --small-img-height: 350px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: black;
}

header {
    color: var(--main-text-color);
    background-color: var(--header-background-color);
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 42px;
    margin: 0;
    border: ;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.7vw;
    color: var(--main-text-color);
}

.hero {
    background-color: var(--main-background-color);
    color:var(--main-text-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

.hero-text {
    width: 40%;
    text-align: right;
    margin: 3.5%;
    font-size: 18px;
    line-height: 1.2;
    border-right: 4px solid var(--accent-color);
    padding: 20px;
}

.hero-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: var(--img-radius);
}

.portfolio {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    font-size: 18px;
}

.portfolio h2 {
    text-align: center;
    border-bottom: 4px solid var(--accent-color);
    width: 20%;
    margin: 0 auto;
    padding-bottom: 5px;
}

.portfolio-cards {
    margin: 0 auto;
    padding: 20px;
}


/*Main Portfolio Image and Overlay Start*/
.main-port-card{
    display: flex;
    justify-content: center;
    flex: 0 80%;
    padding: 20px auto;
    width: 80%;
    margin: 0 auto;
}

.main-port-card a {
    padding: 20px auto;
    width: 100%;

}

.main-port-card a img {
    width: 100%;
    height: var(--main-img-height);
    border-radius: var(--img-radius);
    object-fit: cover;
    object-position: top;
}
/*Main Portfolio Image End*/

/*Overlay Style Begin*/
.overlay-container {
    position: relative;
}

.overlay {
    opacity: 0;
    position: absolute;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    border-radius: var(--img-radius);
    transition: .3s ease;
}

.main-overlay {
    height: var(--main-img-height);
}

.small-overlay {
    height: var(--small-img-height);
}

.overlay-container:hover .overlay {
    opacity: 1;
}

.overlay-hyperlink {
    position: absolute;
    width: 80%;
    height: var(--main-img-height);
}

.text {
    color: var(--main-background-color);
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*Overlay Style End*/

/*Portfolio row style begin*/
.port-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 88%;
    margin: 20px auto;
}

.small-port-card{
    display: flex;
    flex: 1 100%;
    justify-content: center;
}

.small-port-card a {
    width: 80%;
    margin: auto;
}

.small-port-card a img {
    width: 100%;
    height: var(--small-img-height);
    margin: auto;
    border-radius: var(--img-radius);
    object-fit: cover;
    object-position: top;
}
/*Portfolio row style end*/


.contact {
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.contact p {
    border-left: 4px solid var(--accent-color);
    padding: 20px;
}

.contact h2 {
    text-align: right;
    padding: 20px;

}

.section-title {
    font-size: 36px;
    padding: 15px;
}



